header
    nav
        .row.flex.nav-bar
            .hero-text-box
                h1.hero-text
                    if user
                        a(href='/account') Qwerty Bank
                    else
                        a(href='/') Qwerty Bank
            ul.nav-main
                li
                    if  user
                        button.btn.nav__logout Sign Out
                    else
                        a.btn.nav__login(href='/login') LOG IN
                li
                    -if(!user)
                        a.btn.nav__signup(href='/signup') SIGN UP