header
    nav
        .row.flex.nav-bar
            .hero-text-box
                h1.hero-text
                    a(href='/') Qwerty Bank
            ul.nav-main
                li
                    a.btn.nav__login(href='/login') Login
                li
                    a.btn.nav__signup(href='/signup') Sign up