header
    nav
        .row.flex.nav-bar
            .hero-text-box
                h1.hero-text
                    a(href='/') Qwerty Bank
            ul.nav-main
                li
                    if  user
                        button.btn.nav__logout Log out
                    else
                        a.btn.nav__login(href='/login') Login
                li
                    -if(!user)
                        a.btn.nav__signup(href='/signup') Sign up