extends baseEmail

block content
    p Hi #{firstName},
        p Forgot password? send a PATCH request with new password and confirm password to #{url} to update new password. 
        p (Website for this action is not yet implemented)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset password
        p If you didn't forget password? Then please ignore this email.